<h1>All posts</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Author</th>
      <th>Image</th>
      <th>Title</th>
      <th>Status</th>
      <th>Category</th>
      <th>Allow Comments</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    {{#each posts}}

    <tr>
      <td>{{ _id }}</td>
      <td>{{user.firstName}}</td>
      <td><img height="50px" src="{{getImageUrl fileName }}" alt="{{ fileName }}"/></td>
      <td>{{ title }}</td>
      <td>{{ status }}</td>
      <td>{{ category.name }}</td>
      <td>{{ allowComments }}</td>
      <td>{{ formatDate date }}</td>
      <td><a href='/show/{{_id}}'>View</a></td>
      <td><a href='/admin/posts/edit/{{ _id }}' class="btn btn-info">Edit</a></td>
      <td>
        <form action='/admin/posts/{{ _id }}?_method=DELETE' method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>

    {{/each}}
  </tbody>

</table>