<div class="row">

  <!-- Post Content Column -->
  <div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">{{post.title}}</h1>

    <!-- Author -->
    <p class="lead">
      by {{ post.user.firstName }} {{ post.user.lastName }}
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{formatDate post.data}}</p>

    <hr>

    <!-- Preview Image -->
    <img class="img-fluid rounded" style="aspect-ratio: 3/1; object-fit: contain; background-color: rgb(240, 240, 240)" src="{{getImageUrl post.fileName}}" alt="{{post.fileName}}">

    <hr>

    <!-- Post Content -->
    <p class="lead">{{post.body}}</p>
    <hr>
    {{#if user}}
      {{#if post.allowComments }}
        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form action="/admin/comments" method="post">
              <div class="form-group">
                <textarea name="body" class="form-control" rows="3"></textarea>
                <input type="hidden" name="id" value={{post._id}}>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      {{else}}
        <h2>Comments not allowed</h2>
      {{/if}}
    {{else}}
      <h2>Log in to comment</h2>
    {{/if}}
    
    <hr>

    {{#each post.comments }}
      <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" width="50" height="50" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1362px-Placeholder_view_vector.svg.png" alt="">
        <div class="media-body">
          <h5 class="mt-0">{{user.firstName}} {{user.lastName}}</h5>
          {{body}}
          
        </div>
      </div>
    {{/each}}
  </div>

  {{> home/sidebar }}

</div>